*{
  font-family: verdana, arial, sans-serif;
}
#wrapper{
  width: 980px;
  margin: 0 auto;
  background-image: url(../img/bg.png);
}
/* шапка чтраницы */
#header{
  height: 271px;
}
/* общее меню */
#common_menu{
  float: right;
  margin: 0;
}
#common_menu li{
  display: inline-block;
  padding: 0px 5px;
}
#common_menu li a{
  font-size: 12px;
  border-left: 2px grey solid;
  padding-left: 10px;
  color:grey;
  text-decoration: none;
  text-transform: uppercase;
}
#common_menu li a:hover{
  text-decoration: underline;
}
#common_menu li a:active{
  color:yellow;
}
#common_menu li:first-child a{
  border-left-style: none;
}
/* главное меню */
#header .nav{
  float: right;
  height: 46px;
  padding: 0;
  margin-right: 10px;
  background: transparent url(../img/header_nav_bg.jpg) no-repeat center center;
  box-shadow: 3px 3px 7px #333;
}
/* пункт меню */
#header .nav li{
  display: inline-block;
  min-width: 146px;
  padding: 0px;
}
#header .nav li a:hover{
  /*background: rgba(200, 0, 0, 0.75);*/
  /*color:black;*/
  border-color: white;
}
#header .nav a{
  text-decoration: none;
  color: white;
  display: block;
  height: 100%;
  padding: 6px 16px 16px;
  text-align: center;
  border-top: 6px transparent solid;
  text-shadow: 1px 1px 3px black;
}
/**/
#middle{
  background-color: white;
}
#middle:after{
  content: "";
  display: block;
  clear: both;
}
/* боковая панель */
#sidebar{
  width: 250px;
  float: left;
  background: white;
}
#sidebar img.curr_main_menu{
  float: right;
  width: 60px;
  height: 60px;
}
#sidebar>img.curr_main_menu+h1{
  font-weight: normal;
  margin-bottom: 10px;
}
#sidebar>.description{
  font-size: 7px;
}
#sidebar>.alexey_suranov{
  border: 3px solid #135A75;
  background-color: #76A345;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
ul.nav.context{
  margin: 10px 0px;
  padding: 0;
}
ul.nav.context li{
  border-color: #EFEFEF;
  border-width: 1px;
  border-bottom-style: solid ;
  margin: 0px;
  padding: 7px 20px 7px 7px;
  list-style-type: none;
  background: transparent url(../img/nav_context_arrow.png) no-repeat right center;
}
ul.nav.context li:first-child{
  border-top-style: solid;
}
/* Основное содержимое */
#content{
  position: relative;
  top:-15px;
  border-color:blue;
  overflow: auto;
/*  background-color: white;*/
  padding-left: 12px;
  background: transparent url(../img/content_shadow.png) no-repeat left top;
}
.inner{
  background: white;
}
.paging input{
  background-color: white;
  color: black;
}
.paging input:focus{
  /*background-color: #0099ff;*/
  color: white;
  text-shadow: 1px -2px 2px grey;
}

#footer{
  clear: both;
}

