*{
  font-family: verdana, arial, sans-serif;
}
html,
body{
  background-color: #265a36;
}
#wrapper{
  width: 962px;
  padding-left: 18px;
  margin: 0 auto;
  background: #265a36 url("../img/bg.png") left top no-repeat;
}
/* шапка чтраницы */
#header{
  height: 285px;
}
/* общее меню */
#common_menu{
  float: right;
  margin: 0;
}
#common_menu li{
  display: inline-block;
  padding: 0px 5px;
}
#common_menu li a{
  font-size: 12px;
  border-left: 2px grey solid;
  padding-left: 10px;
  color:grey;
  text-decoration: none;
  text-transform: uppercase;
}
#common_menu li a:hover{
  text-decoration: underline;
}
#common_menu li a:active{
  color:yellow;
}
#common_menu li:first-child a{
  border-left-style: none;
}
/* главное меню */
#header .nav{
  float: right;
  height: 46px;
  padding: 0;
  margin-right: 10px;
  background: transparent url("../img/header_nav_bg.jpg") no-repeat center center;
  box-shadow: 3px 3px 7px #333;
}
/* пункт меню */
#header .nav li{
  display: inline-block;
  min-width: 146px;
  padding: 0px;
}
#header .nav li a:hover{
  border-color: white;
  text-shadow: 0 0 10px white, 0 0 20px white, 
      0 0 30px #0B75AF, 0 0 40px #0B75AF, 0 0 70px #0B75AF;
}
#header .nav a{
  -webkit-transition-duration: 800ms;
  -webkit-transition-property: text-shadow,border-color;
  -webkit-transition-function: ease;
  -o-transition-duration: 800ms;
  -o-transition-property: text-shadow,border-color;
  -o-transition-function: ease;
  -moz-transition-duration: 800ms;
  -moz-transition-property: text-shadow,border-color;
  -moz-transition-function: ease;
  transition-duration: 800ms;
  transition-property: text-shadow,border-color;
  transition-function: ease;
  text-decoration: none;
  color: white;
  display: block;
  height: 100%;
  padding: 6px 16px 16px;
  text-align: center;
  border-top: 6px transparent solid;
  text-shadow: 1px 1px 3px black;
}
/**/
#middle{
  background-color: white;
}
#middle:after{
  content: "";
  display: block;
  clear: both;
}
/* боковая панель */
#sidebar{
  width: 170px;
  float: left;
  background: white;
  padding: 8px 4px 8px 8px;
}
#sidebar img.curr_main_menu{
  float: right;
  width: 60px;
  height: 60px;
}
#sidebar>img.curr_main_menu+h1{
  font-weight: normal;
  color: #697b2f;
  font-size: 20px;
  margin: 0px;
  padding: 8px 0px 1px;
}
#sidebar>.description{
  font-size: 7px;
  padding: 1px 0px 5px;
  margin: 0px;
}
#sidebar>.alexey_suranov{
  border: 1px solid #fff;
  padding: 1px 4px;
  color: white;
  font-size: 8px;
  text-transform: uppercase;
  background: white url("../img/description_bg.png") repeat-y left top;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
ul.nav.context{
  margin: 10px 0px;
  padding: 0;
  clear: both;
}
ul.nav.context li{
  border-color: #EFEFEF;
  border-width: 1px;
  border-bottom-style: solid ;
  margin: 0px;
  padding: 7px 20px 7px 7px;
  list-style-type: none;
  background: transparent url(../img/nav_context_arrow.png) no-repeat right center;
}
ul.nav.context li:first-child{
  border-top-style: solid;
}
ul.nav.context li a{
  font-size: 13px;
  color: #79924c;
  text-decoration: none;
}
ul.nav.context li a.active,
ul.nav.context li a:hover{
  color: #4e6404;
}
ul.nav.context li a.active{
  font-size: 14px;
}
ul.nav.context li a:hover{
  text-decoration: underline;
}
.info{
  padding: 3px;
  border: 1px solid #d8d8d8;
  background: transparent url("../img/grey_bg.png") repeat-x bottom left;
  margin-bottom: 8px;
}
.info:after{
  content: "";
  display: block;
  clear: both;
}
.info img{
  float: left;
}
/* Основное содержимое */
#content{
  position: relative;
  top:-15px;
  border-color:blue;
  overflow: auto;
/*  background-color: white;*/
  padding-left: 12px;
  background: transparent url(../img/content_shadow.png) no-repeat left top;
}
.inner{
  background: white;
  padding: 28px;
}
.paging input{
  background-color: white;
  color: black;
}
.paging input:focus{
  /*background-color: #0099ff;*/
  color: white;
  text-shadow: 1px -2px 2px grey;
}

#footer{
  clear: both;
  color: white;
  background: #134912;
  padding: 10px;
  min-height: 24px;
  font-size: 9px;
}
