/* Универсальный селектор */
*{
  margin: 0;
  padding: 0;
}
/* Селекторы тегов (элементов) */
p{
  color: #0099ff;
}
img{

}
/* Селектор класса */
.external{
  display: inline;
}
/* Селектор идентификоторов */
#autumn{
  display: inline;
}

/* Селекторы атрибутов */
/* наличие такого атрибута */
[target]{
  font-weight: bold;
  font-size: 24px;
}
/* атрибут точно равен заданному значению */
[width="300"]{
  border: aqua dashed 5px;
}
/* Значение атрибута начинается с определенного текста */
[href^="http"]{
  color: red;
}
/* Значение атрибута оканчивается определенным текстом */
[href$="pdf"],
[href$="zip"],
[href$="avi"]{
  background-repeat: no-repeat;
  background-position: left top;
  line-height: 32px;
  display: inline-block;
  height: 40px;
  padding-left: 42px;
}
[href$="pdf"]{
  background-image: url("../img/pdf.png");
}
[href$="zip"]{
  background-image: url("../img/zip.gif");
}
[href$="avi"]{
  background-image: url("../img/avi.png");
}
